#aboutme {
    height: 450px !important;
    min-height: 450px !important;
    text-align: center !important;
    /* IE and Edge */
    -ms-overflow-style: none !important;
    /* Firefox */
    scrollbar-width: none !important;
}

#aboutme::-webkit-scrollbar {
    width: 0px !important;
}

#aboutme * {
    display: inline-block;
    vertical-align: middle;
    /* IE and Edge */
    -ms-overflow-style: none !important;
    /* Firefox */
    scrollbar-width: none !important;
}

#aboutme *::-webkit-scrollbar {
    width: 0px !important;
}

.arrows {
    margin-top: 10px !important;
}

.arrows:hover {
    cursor: pointer;
    background-color: RGB(76, 76, 76) !important;
}

.arrows:active {
    cursor: pointer;
    background-color: RGB(56, 56, 56) !important;
}

.list-group-item {
    background-color: RGB(76 76 76) !important;
    font-size: 0.9em !important;
}

#foto {
    background-color: RGB(66, 66, 66);
    max-width: 28vw !important;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    transition: all 0.5s;
}

#foto:hover {
    max-width: 35vw !important;
}

#who {
    display: inline-block;
    text-align: center;
    max-height: 90% !important;
}

#what,
#why,
#when,
#where {
    display: none;
    max-height: 90% !important;
}

#sx {
    position: absolute;
    bottom: 5px;
    left: 45%;
}

#dx {
    position: absolute;
    bottom: 5px;
    left: 55%;
}


/* smartphone e tablet */

@media only screen and (max-width: 768px) {
    #foto {
        min-width: 25vw !important;
    }
}