html,
body {
    font-family: montserrat;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html * {
    /* IE and Edge */
    -ms-overflow-style: none !important;
    /* Firefox */
    scrollbar-width: none !important;
}

html *::-webkit-scrollbar {
    width: 0px !important;
}

#view {
    height: 450px !important;
    color: rgb(209 209 209) !important;
    background-color: RGB(66, 66, 66) !important;
    min-height: 450px !important;
}

.background {
    position: absolute;
    background-color: rgb(26, 26, 26);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#contenuto {
    position: relative;
    top: 10vh;
    width: 90vw !important;
    max-width: 90vw !important;
}

#menu_lato {
    background-color: RGB(66, 66, 66) !important;
    height: 450px;
}

.menu_item {
    color: rgb(209 209 209);
    text-align: left;
    font-size: 1.25em;
}

.menu_item::after {
    content: "";
    display: block;
    background-color: rgb(209 209 209);
    width: 0px;
    height: 1px;
    transition: width 0.5s, background-color 0.7s;
}

.menu_item:hover::after {
    background-color: rgb(209 209 209);
    width: 100%;
}

.menu_item:hover {
    cursor: pointer;
}

.menu_item.active::after {
    background-color: rgb(209 209 209);
    width: 100%;
}


/* smartphone e tablet */

@media only screen and (max-width: 767px) {
    #contenuto {
        top: 10vh;
        left: 0vw;
        width: 100% !important;
        max-width: 100% !important;
    }
    #view {
        min-width: 90vw;
        max-width: 90vw;
    }
    .menu_item {
        display: inline !important;
        font-size: 2em;
        background-color: RGB(66, 66, 66);
        border-radius: 5px 5px 5px 5px;
        transition: color 0.5s, background-color 0.5s;
    }
    .menu_item:hover {
        cursor: pointer;
        color: RGB(66, 66, 66) !important;
        background-color: rgb(209 209 209);
    }
    .menu_item.active {
        color: RGB(66, 66, 66) !important;
        background-color: rgb(209 209 209);
    }
    .menu_item::after {
        display: none;
    }
    #menu_lato {
        display: none;
    }
    #menu_sotto {
        display: block !important;
        position: relative;
        margin-left: 3.2vw !important;
    }
}