#projects {
    height: 450px !important;
    color: rgb(209 209 209) !important;
    min-height: 450px !important;
}

li {
    color: rgb(209 209 209);
    background-color: RGB(66, 66, 66) !important;
    display: inline-block;
}

a {
    text-decoration: none !important;
}

li:hover {
    background-color: RGB(76, 76, 76) !important;
}

li:active {
    background-color: RGB(56, 56, 56) !important;
}

/* smartphone e tablet */

@media only screen and (max-width: 768px) {}