#projects {
    height: 450px !important;
    color: rgb(209 209 209) !important;
    min-height: 450px !important;
    text-align: center;
}


/* smartphone e tablet */

@media only screen and (max-width: 768px) {}